<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',  filename='style-receita.css')}}">
    <title>Receita</title>
</head>
<body>
    <section class="header">
        <!-- <img src="" alt="">
        <div class="info">
            <div class="meal-info">
                <h1>Nome receita</h1>
                <hr>
                <div class="meal-info-text">
                    <p>Categoria: categoria</p>
                    <p>Dificuldade: Mediana</p>
                </div>
            </div>
            <div class="country-info">
                <h3>Informações sobre o país de origem</h3>
                <ul>
                    <li>Nome comum: </li>
                    <li>Nome oficial: </li>
                    <li>Região: </li>
                    <li>Capital: </li>
                    <li>Moeda: </li>
                </ul>
                <img src="" alt="">
            </div>
        </div> -->
    </section>

    <main class="main">
        <!-- <div class="ingredients">
            <h2>Ingredientes e medidas</h2>
            
        </div>
        <div class="instructions">
            <h2>Modo de preparo</h2>
        </div> -->
    </main>

    <script src="{{url_for('static', filename='exer2-receita.js')}}"></script>
</body>
</html>